.uncover-button {
    display: inline-block;
}

    .uncover-button--open {
        margin-top: 8px;
        padding-bottom: 34px;
    }

    .uncover-button--close {
        margin-top: 46px;
        padding-bottom: 14px;
    }

    .uncover-button__card {
        margin: 0;
        padding: 0;

        display: flex;

        cursor: pointer;
    }

        .uncover-button__icon {
            width: 24px;
            height: 24px;

            background-repeat: no-repeat;
        }

            .uncover-button__icon--rotate {
                transform: rotate(180deg);
            }

        .uncover-button__text {
            font-family: 'TT Lakes';
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;

            letter-spacing: -0.2px;

            color: #1B1C21;
        }

        .uncover-button__text--position {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 8px;
        }

div.uncover-block--open {
    height: auto;
}