.services__header {
    display: flex;

    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
}

.services__header::before {
    content: "";

    width: 4px;
    height: 40px;

    background: #41F6D7;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    margin-right: 12px;
}

.services__title {
    font-family: 'TT Lakes';
    font-size: 28px;
    line-height: 40px;

    letter-spacing: -0.6px;

    color: #1B1C21;
}

.services__list-button {
    display: none;
}

.services__list-button--right {
    margin-left: auto;
}

.services__button {
    margin-left: 32px;
}

.services__repair {
    background-image: url("../../../img/elements/buttons/round-buttons/repair.svg");
}

.services__checkstatus {
    background-image: url("../../../img/elements/buttons/round-buttons/checkstatus.svg");
}

.services__nav {
    display: flex;
}

.services__nav::after {
    position: absolute;
    right: 0;

    content: "";

    width: 24px;
    height: 40px;

    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.services__list-name {
    display: flex;
    overflow-x: scroll;
    padding-left: 16px;
}

.services__list-name::-webkit-scrollbar {
    display: none;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

.services__item {
    border: 2px solid #F8F8F8;
}

.services__item:not(.services__item:last-child) {
    margin-right: 4px;
}

.services__item-name {
    display: inline-block;

    white-space: nowrap;

    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.2px;

    color: #7E7E82;

    padding: 6px 16.5px;
}

.services__item--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.services__item-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 24px;
}

.services__item-description {
    padding: 0 16px 16px 16px;
}

.services__item-p {
    font-family: 'TT Lakes';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    letter-spacing: 0.2px;

    color: #1B1C21;
}

.services__item-expand {
    margin-top: 16px;
}

.services__expand-img {
    background-image: url("../../../img/elements/buttons/uncover-buttons/expand.svg");
}

.services__item-img {
    width: 100%;
}

.services__img {
    width: 100%;
}